html,
  body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
  }

.container{
  position: relative;
  height: 100%;
}

.options{
  box-shadow: 0px -8px 28px -6px rgba(0,0,0,0.75);
  box-sizing: border-box;
  position: absolute;
  top: 0;
  z-index: 99;
  width: 300px;;
  height: 100%;
  background-color: rgb(16, 78, 105);
  transform: translateX(-90%);
  transition: 1s all ease-in;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 20px 20px;

}
.options_appear{
  transform: translateX(0%);
  animation: options 1s ease-in backwards;
}

.options_menu{
  position: relative;
}

  ul{
    margin: 0px;
    padding: 0px;
  }

li{
  list-style-type: none;
  background-color: rgba(23, 45, 56, 0.68);
  border: 1px rgb(120, 120, 120) solid;
  color: #aaaaaa;
}

.arrow{
  text-align: right;
  align-self: center;
  margin: 0px;
  padding: 0px;
}

.arrow_img{
  height: 50px;
}

@keyframes options {
  0%{transform: translateX(-90%); }
  33%{ transform: translateX(-95%); }
  100%{ transform: translateX(0%); }
}

.map{
  left: 0;
  height: 100%;
}
